@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calture and Scince City<br />
    , 6th of october<br />
    <abbr title="Phone">P:</abbr>
    01009191372
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">abdelrahmanmohamed</a><br />
    
</address>