@{
    ViewBag.Title = "Home Page";
}

<div class="jumpotron container-fluid">
    <h1>Online Shipment Tracking Project</h1>
    <p class="lead">Online Shipment Tracking Project . Is Easy Way To Track Your Air, Sea And Land Shipment.</p>
    <p>Order management is the administration of business processes related to orders for goods or services. An order management system (OMS) automates and streamlines order processing for businesses.
Benefits of a well-implemented OMS include improved sales visibility, improved customer relations, and efficient order processing with a minimum of delays and back-orders.
</p>
    
</div>

